h1,
h2,
h3,
h4,
h5,
h6
  margin 0

.text__centered
  text-align center

.text__uppercase
  text-transform uppercase

.full-width
  .content
    height 100%
    display flex
    align-items center
    justify-content center

.content
  font-family 'metropolisbold', sans-serif

  ul li
    line-height  300%
  .btn
    border 2px solid #fff
    padding 16px
    border-radius 8px
    margin-top 32px
    display inline-block